<!--Footer-->
    {% assign socials ={{site.data.footer[1].socials}} %}
<!-- Social icons -->
    <div class="pb-4">
    {% for item in socials %}
        <a href="{{ item.link }}" target="_blank">
            <i class="fab fa-{{ item.name }} mr-3"></i>
        </a>
        
    {% endfor %}
      
    </div>
    <!-- Social icons -->
    <!--Copyright-->
    {% assign copyright ={{site.data.footer[0]}} %}
    <div class="footer-copyright py-3">
        © {{copyright.year}} Copyright:
        <a href="{{ copyright.url}}" target="_blank"> {{ copyright.name}} </a>
    </div>
    <!--/.Copyright-->
    
</footer>