<!--Footer-->
{% assign socials = site.data.footer.socials | default: site.data.default.socials %}
<!-- Social icons -->
    <div class="pb-4">
    {% for item in socials %}
        <a href="{{ item.link }}" target="_blank">
            <i class="fab fa-{{ item.name }} mr-3"></i>
        </a>
        
    {% endfor %}
      
    </div>
    <!-- Social icons -->
    <!--Copyright-->
    <div class="footer-copyright py-3">
        © {{site.data.footer.year | default: site.data.default.copyright_year}} Copyright | 
        <a href="{{site.data.footer.url | default: site.data.default.copyright_url}}" target="_blank">
             {{site.data.footer.name | default: site.data.default.copyright_name}} </a>
    </div>
    <!--/.Copyright-->
    
</footer>