{% assign navbrand ={{site.data.navigation[0]}} %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">
        <a class="navbar-brand" href="{{site.base_url }}">
            <img class="avatar" src="{{navbrand.avatar}}" style="width: 40px!important;height: auto;"  class="d-inline-block align-top" alt="" >
            <strong>{{navbrand.name}}</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
{% assign navbar ={{site.data.navigation[1]}} %}

        {% for item in navbar.navitems %}
        {% if item.subnav %}
            <li class="nav-item dropdown">
                <a href="{{ item.link }}" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">{{ item.name }}
            </a>
            <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
                {% for subitem in item.subnav %}
                <a class="dropdown-item" href="{{ subitem.link }}">{{ subitem.name }}</a>
                {% endfor %}
            </div>
        </li>
        {% else %}
        <li class="nav-item"  {% if item.link == page.url %} class="nav-item active" {% endif %} >
            <a class="nav-link" href="{{ item.link }}">                     
                {{ item.name }}
                {% if item.link == page.url %} <span class="sr-only">(current)</span>{% endif %}
            </a>
        </li>
        {% endif %}      
        
        {% endfor %}
        <!-- Split button -->
        
        
        
    </ul>
</div>
</div>
</nav>
