<!-- Title -->
{% if site.posts.size !=0 %}
<hr>
<p class="font-weight-bold dark-grey-text text-center spacing">
    <strong>ARCHIVE</strong>
</p>
<hr>

<!-- Archive -->
<section class="archive mb-5">
    
    <!-- Grid row -->
    <div class="row">
        
        <!-- Grid column -->
        <div class="col-md-12 text-center">
            
            <!-- List -->
            <ul class="list-unstyled mt-3">
                <li>
                    <h6 class="font-weight-normal">
                        <a href="#!" class="dark-grey-text">August 2016</a>
                    </h6>
                </li>
                <li>
                    <h6 class="font-weight-normal">
                        <a href="#!" class="dark-grey-text">July 2016</a>
                    </h6>
                </li>
                <li>
                    <h6 class="font-weight-normal">
                        <a href="#!" class="dark-grey-text">June 2016</a>
                    </h6>
                </li>
                <li>
                    <h6 class="font-weight-normal">
                        <a href="#!" class="dark-grey-text">May 2016</a>
                    </h6>
                </li>
                <li>
                    <h6 class="font-weight-normal">
                        <a href="#!" class="dark-grey-text">April 2016</a>
                    </h6>
                </li>
                <li>
                    <h6 class="font-weight-normal">
                        <a href="#!" class="dark-grey-text">March 2016</a>
                    </h6>
                </li>
                <li>
                    <h6 class="font-weight-normal">
                        <a href="#!" class="dark-grey-text">Febuary 2016</a>
                    </h6>
                </li>
            </ul>
            <!-- List -->
            
        </div>
        <!-- Grid column -->
        
    </div>
    <!-- Grid row -->
    
</section>
<!-- Archive -->
{% endif %}