                <!-- Author -->
                <section class="mb-4">
                    
                    <hr class="mt-4">
                    <p class="font-weight-bold dark-grey-text text-center spacing">
                        <strong>ABOUT ME</strong>
                    </p>
                    <hr>
                    
                    <!-- Avatar -->
                    <div class="flex-center mt-4">
                        <img src="{{ site.data.blog.author.image_portrait | default: site.data.default.author_image_portrait }}" class="img-fluid img-author">
                    </div>
                    
                    <!-- Description -->
                    <p class="mt-3 dark-grey-text font-small text-center">
                        <em>{{ site.data.blog.author.description | default: site.data.default.author_description }}</em>
                        </p>
                        
                        <ul class="list-unstyled list-inline-item circle-icons list-unstyled flex-center">
                            <!-- Facebook -->
                            <li>
                                <a href="{{ site.data.blog.author.facebook | default: site.data.default.author_facebook }}" class="fb-ic"></a>
                                    <i class="fab fa-facebook-f"> </i>
                                </a>
                            </li>
                            <!-- Twitter -->
                            <li>
                                <a href="{{ site.data.blog.author.twitter | default: site.data.default.author_twitter }}" class="tw-ic"></a>
                                    <i class="fab fa-twitter"> </i>
                                </a>
                            </li>
                            <!-- Google + -->
                            <li>
                                <a href="{{ site.data.blog.author.github | default: site.data.default.author_github }}" class="gplus-ic"></a>
                                    <i class="fab fa-github"> </i>
                                </a>
                            </li>
                        </ul>
                        
                    </section>