<!-- Title -->
<hr>
<p class="font-weight-bold dark-grey-text text-center spacing">
    <strong>NEWSLETTER</strong>
</p>
<hr>

<!-- Newsletter -->
<section class="mb-5">
    
    <!-- Grid row -->
    <div class="row mt-4">
        
        <!-- Grid column -->
        <div class="col-md-12">
            
            <div class="input-group md-form form-sm form-3 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text white black-text" id="basic-addon9">@</span>
                </div>
                <input type="text" class="form-control mt-0 black-border rgba-white-strong" placeholder="Username"
                aria-describedby="basic-addon9">
            </div>
            
            <button type="button" class="btn btn-grey btn-block mt-4">Sign up</button>
            
        </div>
        <!-- Grid column -->
        
    </div>
    <!-- Grid row -->
    
</section>
<!-- Newsletter -->
