
/* 

  Navbar

*/
.navbar.scrolling-navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .navbar.scrolling-navbar.top-nav-collapse {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .navbar-brand {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  
  .navbar .navbar-nav .active {
    font-weight: 600;
    background-color: #1c2331;
    color: gray;
  }
  
  
  
  /* 
  
  Avatar
  
  */
  
  .avatar {
    border-radius: 50%;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    -webkit-mask-image: url(../img/mask/circle.svg)!important;
    mask-image: url(../img/mask/circle.svg)!important;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 50px;
  }
  
  .avatar-md {
    width: 10vmin;
  }
  
  .avatar-lg {
    width: 30vmin;
  }
  
  /* 竖屏时宽度小于等于758px */
  @media (max-width: 767px) and (orientation : portrait) {
    .avatar-lg {
      width: 100px;
      float: none!important;
    }
  
    .carousel-content .p {
      font-size: 1rem!important;
    }
  
    .carousel-content .display-4{ 
      font-size: 2rem!important;
    }
  
    /* .carousel-content {
      top: 20%!important;
    } */
  
    .carousel-content div {
      font-size: 1rem!important;
    }
  
  }
  
  /* 横屏时高度小于等于576px */
  @media (max-height: 576px) and (orientation : landscape){
  
    .carousel-content .p {
      font-size: 1rem!important;
    }
  
    .carousel-content .display-4{ 
      font-size: 2rem!important;
    }
  
    /* .carousel-content {
      top: 20%!important;
    } */
  
    .carousel-content div {
      font-size: 1rem!important;
    }
  
  }
  