---
layout: page
title: Tag Blogs
heading: Tag
headingvar: tag
---
<!--Main Navigation-->

<!--Main layout-->
<!--Section: Jumbotron-->
{% include blog/blog-header.html %}    
<div class="container mt-5 pt-3">
    
    <!-- Excerpt -->
    <a href="">
        <h6 class="text-center font-weight-bold blue-text">
            <strong>{{site.data.blog.list.subheading | default: site.data.default.category_blog_list_subheading}}</strong>
        </h6>
    </a>
    <h1 class="text-center font-weight-bold dark-grey-text py-3">
        <strong>{{site.data.blog.list.heading| default: site.data.default.category_blog_list_heading}}</strong>
    </h1>
    
    <p class="grey-text text-center mb-5 pb-3">
        <em>{{site.data.blog.list.description| default: site.data.default.category_blog_list_description}}</em>
        </p>
        
        <hr>
        
        <!-- Blog -->
        <div class="row mt-5 pt-3">
            
            <!-- Main listing -->
            <div class="col-lg-9 col-12 mt-1">
                
                <!-- Section: Blog v.3 -->
                <section class="pb-3 text-center text-lg-left">
                    <!-- Grid row -->
                    {% for post in site.categories[page.category] %}
                    {% include blog/post-list-row.html %}
                    <hr class="mb-5">
                    {% endfor %}
                    <!-- Grid row -->
                </section>
                <!-- Section: Blog v.3 -->
                
                
            </div>
            <!-- Main listing -->
            
            <!-- Sidebar -->
            <div class="col-lg-3 col-12 px-4 mt-1 blue-grey lighten-5">
                
                
                <!-- Author -->
                {% if site.posts.size!=0 %}
                {% include blog/featuredposts.html %}
                {% include blog/recentposts.html %}
                {% include blog/categories.html %}
                {% include blog/tags.html %}
                
                {% endif %}
                {% if site.posts.size!=0 %}
                {% include blog/archive.html %}
                {% endif %}
                {% include blog/newsletter.html %}
                
                
            </div>
            <!-- Sidebar -->
            
        </div>
        <!-- Blog -->
        
    </div>
    
    