---
layout: page
title: Category Blogs
heading: Category
headingvar: category
---
<!--Main Navigation-->
<!--Main layout-->
<main>
        <div class="container-fluid">
        {% include blog-header.html %}

        {% include blog-text-header.html %}
            <section>
                <div class="row">
                    <div class="offset-md-1 col-md">
                        
                        {% for post in site.categories[page.category] %}
                        
                      {% include post-list-row.html%}
                        
                        
                        {% endfor%}
                    </div>
                    <div class="col-md-2 mb-4">
                            {% include categorylist.html %}
                            {% include taglist.html %}
                                            
    
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
            </section>
            <section class="m-5 p-5">

            </section>
            <!--Section: Cards-->
        </div>
    </main>
    
    